.container{
    height: 260px;
    width: 196px;
    padding: 10px;
    display: table-caption;
}
.product-img{
    width: 100%;
    width: 100%;
    height: 86%;
    object-fit: contain;
}
.sale{
    color: red;
}
.normal{
    color: black;
}